interactions:
  - request:
      body:
        '{"description":"compute current price information into
        doc","processors":[{"set":{"field":"_source.ingest_time","value":"{{_ingest.timestamp}}"},"script":{"lang":"painless","source":"          ZonedDateTime
        safe_get_zoned_dt(Object date){            if (date instanceof ZonedDateTime)
        {              return (ZonedDateTime)date;            } else if (date instanceof
        String){              LocalDate localDate =
        LocalDate.parse((String)date);              return
        localDate.atStartOfDay(ZoneId.systemDefault());            }            return
        null;          }          Map get_price_data_for_day(List prices, ZonedDateTime
        curDat[...]
