interactions:
  - request:
      body: null
      headers:
        authorization:
          - Basic b2RvbzpxWGdIRHc4RHQ2VGJFOEpYeXIzUDNnZUY=
        content-type:
          - application/json
        x-elastic-client-meta:
          - es=7.13.4,py=3.11.4,t=7.13.4,ur=1.26.16
      method: POST
      uri: https://index.test.alcyon.acsone.eu/alc_shopinvader_variant_fr_be/_update_by_query?pipeline=set-current-price&wait_for_completion=false
    response:
      body:
        string: '{"task":"K1eCEdgbQPuI-tdjjY1scQ:8817088"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - Basic b2RvbzpxWGdIRHc4RHQ2VGJFOEpYeXIzUDNnZUY=
        content-type:
          - application/json
        x-elastic-client-meta:
          - es=7.13.4,py=3.11.4,t=7.13.4,ur=1.26.16
      method: POST
      uri: https://index.test.alcyon.acsone.eu/alc_shopinvader_variant_nl_be/_update_by_query?pipeline=set-current-price&wait_for_completion=false
    response:
      body:
        string: '{"task":"GT5B6XDMSgaS9eDVeM2gLQ:9401821"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - Basic b2RvbzpxWGdIRHc4RHQ2VGJFOEpYeXIzUDNnZUY=
        content-type:
          - application/json
        x-elastic-client-meta:
          - es=7.13.4,py=3.11.4,t=7.13.4,ur=1.26.16
      method: POST
      uri: https://index.test.alcyon.acsone.eu/alc_shopinvader_variant_en_us/_update_by_query?pipeline=set-current-price&wait_for_completion=false
    response:
      body:
        string: '{"task":"9mzO4VodTyizgf7G5jYj4A:7403987"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - Basic b2RvbzpxWGdIRHc4RHQ2VGJFOEpYeXIzUDNnZUY=
        content-type:
          - application/json
        x-elastic-client-meta:
          - es=7.13.4,py=3.11.4,t=7.13.4,ur=1.26.16
      method: POST
      uri: https://index.test.alcyon.acsone.eu/alc_product_variant/_update_by_query?pipeline=set-current-price&wait_for_completion=false
    response:
      body:
        string: '{"task":"K1eCEdgbQPuI-tdjjY1scQ:8817115"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - Basic b2RvbzpxWGdIRHc4RHQ2VGJFOEpYeXIzUDNnZUY=
        content-type:
          - application/json
        x-elastic-client-meta:
          - es=7.13.4,py=3.11.4,t=7.13.4,ur=1.26.16
      method: GET
      uri: https://index.test.alcyon.acsone.eu/_tasks/K1eCEdgbQPuI-tdjjY1scQ%3A8817088?wait_for_completion=false
    response:
      body:
        string:
          '{"completed":false,"task":{"node":"K1eCEdgbQPuI-tdjjY1scQ","id":8817088,"type":"transport","action":"indices:data/write/update/byquery","status":{"total":17362,"updated":0,"created":0,"deleted":0,"batches":1,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0},"description":"update-by-query
          [alc_shopinvader_variant_fr_be]","start_time_in_millis":1701089210520,"running_time_in_nanos":1372103504,"cancellable":true,"headers":{}}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - Basic b2RvbzpxWGdIRHc4RHQ2VGJFOEpYeXIzUDNnZUY=
        content-type:
          - application/json
        x-elastic-client-meta:
          - es=7.13.4,py=3.11.4,t=7.13.4,ur=1.26.16
      method: GET
      uri: https://index.test.alcyon.acsone.eu/_tasks/GT5B6XDMSgaS9eDVeM2gLQ%3A9401821?wait_for_completion=false
    response:
      body:
        string:
          '{"completed":false,"task":{"node":"GT5B6XDMSgaS9eDVeM2gLQ","id":9401821,"type":"transport","action":"indices:data/write/update/byquery","status":{"total":0,"updated":0,"created":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0},"description":"update-by-query
          [alc_shopinvader_variant_nl_be]","start_time_in_millis":1701089210842,"running_time_in_nanos":1466455575,"cancellable":true,"headers":{}}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - Basic b2RvbzpxWGdIRHc4RHQ2VGJFOEpYeXIzUDNnZUY=
        content-type:
          - application/json
        x-elastic-client-meta:
          - es=7.13.4,py=3.11.4,t=7.13.4,ur=1.26.16
      method: GET
      uri: https://index.test.alcyon.acsone.eu/_tasks/9mzO4VodTyizgf7G5jYj4A%3A7403987?wait_for_completion=false
    response:
      body:
        string:
          '{"completed":false,"task":{"node":"9mzO4VodTyizgf7G5jYj4A","id":7403987,"type":"transport","action":"indices:data/write/update/byquery","status":{"total":0,"updated":0,"created":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0},"description":"update-by-query
          [alc_shopinvader_variant_en_us]","start_time_in_millis":1701089211173,"running_time_in_nanos":1556228778,"cancellable":true,"headers":{}}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - Basic b2RvbzpxWGdIRHc4RHQ2VGJFOEpYeXIzUDNnZUY=
        content-type:
          - application/json
        x-elastic-client-meta:
          - es=7.13.4,py=3.11.4,t=7.13.4,ur=1.26.16
      method: GET
      uri: https://index.test.alcyon.acsone.eu/_tasks/K1eCEdgbQPuI-tdjjY1scQ%3A8817115?wait_for_completion=false
    response:
      body:
        string:
          '{"completed":true,"task":{"node":"K1eCEdgbQPuI-tdjjY1scQ","id":8817115,"type":"transport","action":"indices:data/write/update/byquery","status":{"total":0,"updated":0,"created":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0},"description":"update-by-query
          [alc_product_variant]","start_time_in_millis":1701089211529,"running_time_in_nanos":1410811,"cancellable":true,"headers":{}},"error":{"type":"index_not_found_exception","reason":"no
          such index
          [alc_product_variant]","index":"alc_product_variant","resource.id":"alc_product_variant","resource.type":"index_or_alias","index_uuid":"_na_"}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
version: 1
