[bumpversion]
current_version = 1.59.1
commit = True

[bumpversion:file:.bumpversion.cfg]

[bumpversion:file:acsoo.cfg]

[bumpversion:file:odoo/addons/alc_all/__manifest__.py]

[bumpversion:file:odoo/addons/server_environment_files/dev/base.conf]

[bumpversion:file:odoo/addons/server_environment_files/integration/base.conf]

[bumpversion:file:odoo/addons/server_environment_files/test/base.conf]

[bumpversion:file:.gitlab-ci.yml]
serialize = /{major}\.{minor}\.\d+/

