[bumpversion]
current_version = 2.6.99
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:pyproject.toml]

[bumpversion:file:.bumpversion.cfg]

[bumpversion:file:odoo/addons/alc_all/__manifest__.py]

[bumpversion:file:odoo/addons/alce_all/__manifest__.py]

[bumpversion:file:odoo/addons/server_environment_files/dev/base.conf]

[bumpversion:file:odoo/addons/server_environment_files/preprod/base.conf]

[bumpversion:file:odoo/addons/server_environment_files/test/base.conf]

[bumpversion:file:odoo/addons/server_environment_files/uat/base.conf]
