[submodule "odoo/src"]
	path = odoo/src
	url = git@github.com:camptocamp/odoo.git
[submodule "odoo/external-src/server-tools"]
	path = odoo/external-src/server-tools
	url = git@github.com:camptocamp/server-tools.git
[submodule "odoo/external-src/enterprise"]
	path = odoo/external-src/enterprise
	url = git@github.com:odoo/enterprise
[submodule "odoo/external-src/stock-logistics-workflow"]
	path = odoo/external-src/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
[submodule "odoo/external-src/sale-workflow"]
	path = odoo/external-src/sale-workflow
	url = git@github.com:camptocamp/sale-workflow.git
[submodule "odoo/external-src/account-financial-tools"]
	path = odoo/external-src/account-financial-tools
	url = git@github.com:camptocamp/account-financial-tools.git
[submodule "odoo/external-src/l10n-belgium"]
	path = odoo/external-src/l10n-belgium
	url = git@github.com:camptocamp/l10n-belgium.git
[submodule "odoo/external-src/odoo-cloud-platform"]
	path = odoo/external-src/odoo-cloud-platform
	url = git@github.com:camptocamp/odoo-cloud-platform.git
[submodule "odoo/external-src/bank-payment"]
	path = odoo/external-src/bank-payment
	url = git@github.com:OCA/bank-payment.git
[submodule "odoo/external-src/account-invoicing"]
	path = odoo/external-src/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
[submodule "odoo/external-src/account-analytic"]
	path = odoo/external-src/account-analytic
	url = git@github.com:OCA/account-analytic.git
[submodule "odoo/external-src/stock-logistics-warehouse"]
	path = odoo/external-src/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
