[MASTER]

load-plugins=pylint_odoo

ignore=

[MESSAGES CONTROL]

# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED
confidence=

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time. See also the "--disable" option for examples.
enable=all

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use"--disable=all --enable=classes
# --disable=W"
disable=
  access-member-before-definition,
  attribute-defined-outside-init,
  bare-except,
  duplicate-code,
  import-error,
  invalid-name,
  missing-docstring,
  missing-readme,
  no-member,
  no-name-in-module,
  protected-access,
  suppressed-message,
  too-few-public-methods,
  too-many-arguments,
  too-many-boolean-expressions,
  too-many-branches,
  too-many-function-args,
  too-many-instance-attributes,
  too-many-lines,
  too-many-locals,
  too-many-nested-blocks,
  too-many-public-methods,
  too-many-return-statements,
  too-many-statements,
  unused-argument,
  attribute-string-redundant,
  fixme,
  locally-disabled,
  wrong-import-order,

extension-pkg-whitelist=lxml

[FORMAT]
max-line-length=240

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=colorized

# Tells whether to display a full report or only the messages
reports=no

# Template used to display messages. This is a python new-style format string
# used to format the message information. See doc for all details
msg-template={path}:{line}:{column}: {msg_id} {msg} ({symbol})

[ODOOLINT]

valid-odoo-versions=16.0

# URL of README.rst template file
readme-template-url=https://github.com/OCA/maintainer-tools/blob/master/template/module/README.rst

# Name of author required in manifest file.
manifest-required-authors=ACSONE SA/NV

# List of keys required in manifest file, separated by a comma.
manifest-required-keys=license,author

# List of keys deprecated in manifest file, separated by a comma.
manifest-deprecated-keys=

# List of license allowed in manifest file, separated by a comma.
license-allowed=AGPL-3,LGPL-3,Other proprietary

# Force import order to recognize a module as part of a third party library.
known-third-party=fastapi,pydantic,starlette,dicttoxml
