--find-links https://wheelhouse.acsone.eu/manylinux2014

# odoo
-r https://raw.githubusercontent.com/odoo/odoo/master/requirements.txt
odoo @ git+https://github.com/acsone/odoo.git@16.0-alc_master
odoo-addons-enterprise @ git+ssh://git@github.com/acsone/enterprise.git@16.0-alc_master

# delivery-carrier
# https://github.com/OCA/delivery-carrier/pull/570
odoo-addon-base-delivery-carrier-label @ git+https://github.com/acsone/delivery-carrier.git@16-mig-delivery-carrier-label-and-split#subdirectory=setup/base_delivery_carrier_label

# wms
# https://github.com/OCA/wms/pull/508
odoo-addon-stock-available-to-promise-release @ git+https://github.com/acsone/wms.git@16.0-add-stock_release_channel_auto_release#subdirectory=setup/stock_available_to_promise_release
# https://github.com/OCA/wms/pull/493
odoo-addon-stock-release-channel @ git+https://github.com/acsone/wms.git@16.0-add-stock_release_channel_auto_release#subdirectory=setup/stock_release_channel
# https://github.com/OCA/wms/pull/470
odoo-addon-stock-storage-type @ git+https://github.com/acsone/wms.git@16.0-mig-stock_storage_type-dro#subdirectory=setup/stock_storage_type
 # https://github.com/OCA/wms/pull/508
odoo-addon-stock-release-channel-auto-release @ git+https://github.com/acsone/wms.git@16.0-add-stock_release_channel_auto_release#subdirectory=setup/stock_release_channel_auto_release
# https://github.com/OCA/wms/pull/496 - [MIG][16.0] stock_storage_type_putaway_abc
odoo-addon-stock-storage-type-putaway-abc @ git+https://github.com/acsone/wms.git@16.0-mig-stock_storage_type_abc-dro#subdirectory=setup/stock_storage_type_putaway_abc
# https://github.com/OCA/wms/pull/497 - [ADD] stock_storage_type_putaway_abc_classification_sale_stock
odoo-addon-stock-storage-type-putaway-abc-classification-sale-stock @ git+https://github.com/acsone/wms.git@16.0-add-stock_storage_type_abc_classification-dro#subdirectory=setup/stock_storage_type_putaway_abc_classification_sale_stock
# https://github.com/OCA/wms/pull/510 - [MIG][16.0] stock_picking_completion_info
odoo-addon-stock-picking-completion-info @ git+https://github.com/acsone/wms.git@16.0-mig-stock_picking_completion_info-hda#subdirectory=setup/stock_picking_completion_info

# product-attribute
# https://github.com/OCA/product-attribute/pull/1192
odoo-addon-product-abc-classification @ git+https://github.com/acsone/product-attribute.git@16.0-mig-product_abc_classification-dro#subdirectory=setup/product_abc_classification
# https://github.com/OCA/product-attribute/pull/1196
odoo-addon-product-abc-classification-sale-stock @ git+https://github.com/acsone/product-attribute.git@16.0-mig-product-abc-sale-dro#subdirectory=setup/product_abc_classification_sale_stock
# https://github.com/OCA/product-attribute/pull/1212 - [16.0][IMP] product_dimension: Remove onchange method to computed readonly False one / Allow to create product template with dimensions
odoo-addon-product-dimension @ git+https://github.com/acsone/product-attribute.git@16.0-imp-product-dimension-dro#subdirectory=setup/product_dimension
# https://github.com/OCA/product-attribute/pull/1214
odoo-addon-stock-production-lot-expiry @ git+https://github.com/acsone/product-attribute.git@16.0-mig-stock_production_lot_expiry#subdirectory=setup/stock_production_lot_expiry
# https://github.com/OCA/product-attribute/pull/1160 - [16.0] [MIG] product_logistics_uom
odoo-addon-product-logistics-uom @ git+https://github.com/acsone/product-attribute.git@16.0-mig-product_logistics_uom#subdirectory=setup/product_logistics_uom
# https://github.com/OCA/product-attribute/pull/1220 - [IMP] product_packaging_dimension: Improve view in order to easy inheritance
odoo-addon-product-packaging-dimension @ git+https://github.com/acsone/product-attribute.git@16.0-imp-product-packaging-dimension-dro#subdirectory=setup/product_packaging_dimension
# https://github.com/OCA/product-attribute/pull/1215 - MIG][16.0] product_packaging_type + renaming to product_packaging_level
odoo-addon-product-packaging-level @ git+https://github.com/acsone/product-attribute.git@16.0-mig-product-packaging-level-dro#subdirectory=setup/product_packaging_level
# https://github.com/OCA/product-attribute/pull/1216 - [MIG][16.0] product_packaging_type_pallet => product_packaging_level_pallet
odoo-addon-product-packaging-level-pallet @ git+https://github.com/acsone/product-attribute.git@16.0-mig-product-packaging-level-pallet-dro#subdirectory=setup/product_packaging_level_pallet
# https://github.com/OCA/product-attribute/pull/1221 - [MIG][16.0] product total weight from packaging
odoo-addon-product-total-weight-from-packaging @ git+https://github.com/acsone/product-attribute.git@16.0-mig-product_total_weight_from_packaging#subdirectory=setup/product_total_weight_from_packaging
# https://github.com/OCA/product-attribute/pull/1217
odoo-addon-stock-production-lot-expired-date @ git+https://github.com/acsone/product-attribute.git@16.0-mig-stock_production_lot_expired_dates#subdirectory=setup/stock_production_lot_expired_date
# https://github.com/OCA/product-attribute/pull/1225 - [ADD] product_template_has_one_variant
odoo-addon-product-template-has-one-variant @ git+https://github.com/acsone/product-attribute.git@16.0-add-product-template-has-one-variant-dro#subdirectory=setup/product_template_has_one_variant

# purchase-workflow
odoo-addon-purchase-stock-packaging @ git+https://github.com/acsone/purchase-workflow.git@16.0-add-purchase_stock_packaging-dro#subdirectory=setup/purchase_stock_packaging

# report-print-send
# https://github.com/OCA/report-print-send/pull/307
odoo-addon-base-report-to-printer @ git+https://github.com/acsone/report-print-send.git@16.0-mig-base_report_to_printer-hda#subdirectory=setup/base_report_to_printer

# stock-logistics-warehouse
# https://github.com/OCA/stock-logistics-warehouse/pull/1532
odoo-addon-stock-move-auto-assign @ git+https://github.com/acsone/stock-logistics-warehouse.git@16.0-add-stock_move_auto_assign_auto_release-lmi#subdirectory=setup/stock_move_auto_assign
# https://github.com/OCA/stock-logistics-warehouse/pull/1560
odoo-addon-stock-move-auto-assign-auto-release @ git+https://github.com/acsone/stock-logistics-warehouse.git@16.0-add-stock_move_auto_assign_auto_release-lmi#subdirectory=setup/stock_move_auto_assign_auto_release
# https://github.com/OCA/stock-logistics-warehouse/pull/1502
odoo-addon-stock-packaging-calculator @ git+https://github.com/acsone/stock-logistics-warehouse.git@16.0-mig-stock_packaging_calculator#subdirectory=setup/stock_packaging_calculator

# stock-logistics-workflow
# https://github.com/OCA/stock-logistics-workflow/pull/1127
odoo-addon-stock-picking-start @ git+https://github.com/acsone/stock-logistics-workflow.git@16.0-add-stock_picking_start-lmi#subdirectory=setup/stock_picking_start
# https://github.com/OCA/stock-logistics-workflow/pull/1102 - [MIG] stock_putaway_hook: Migration to 16.0
odoo-addon-stock-putaway_hook @ git+https://github.com/acsone/stock-logistics-workflow.git@16.0-mig-stock_putaway_hook-dro#subdirectory=setup/stock_putaway_hook
# https://github.com/OCA/stock-logistics-workflow/pull/1103 - [MIG] stock_quant_package_product_packaging: Migration to 16.0
odoo-addon-stock-quant-package-product-packaging @ git+https://github.com/acsone/stock-logistics-workflow.git@16.0-mig-stock_quant_package_product_packaging-dro#subdirectory=setup/stock_quant_package_product_packaging
# https://github.com/OCA/stock-logistics-workflow/pull/1104 - [MIG] stock_quant_package_dimension: Migration to 16.0 
odoo-addon-stock-quant-package-dimension @ git+https://github.com/acsone/stock-logistics-workflow.git@16.0-mig-stock_quant_package_dimension-dro#subdirectory=setup/stock_quant_package_dimension
# https://github.com/OCA/stock-logistics-workflow/pull/1163 - [ADD] stock_grn
odoo-addon-stock-grn @ git+https://github.com/acsone/stock-logistics-workflow.git@16.0-add-stock_grn-hda#subdirectory=setup/stock_grn

# server-tools
odoo-addon-session-db @ git+https://github.com/acsone/server-tools.git@16.0-session_db-sbi#subdirectory=setup/session_db

# OCA/web
odoo-addon-web-domain-field @ git+https://github.com/acsone/web.git@16.0-mig-web_domain_field-dro#subdirectory=setup/web_domain_field

# camptocamp/odoo-cloud-platform
odoo-addon-base-attachment-object-storage @ git+https://github.com/acsone/odoo-cloud-platform@16.0#subdirectory=setup/base_attachment_object_storage
# https://github.com/camptocamp/odoo-cloud-platform/pull/394
odoo-addon-attachment-s3 @ git+https://github.com/acsone/odoo-cloud-platform@16.0-mig-s3-lmi#subdirectory=setup/attachment_s3

# stock-logistics-transport
# https://github.com/OCA/stock-logistics-transport/pull/87
odoo-addon-stock-dock @ git+https://github.com/acsone/stock-logistics-transport.git@16.0-mig-shipment_advice-lmi#subdirectory=setup/stock_dock
odoo-addon-shipment-advice @ git+https://github.com/acsone/stock-logistics-transport.git@16.0-mig-shipment_advice-lmi#subdirectory=setup/shipment_advice