--find-links https://wheelhouse.acsone.eu/manylinux1

# odoo required since no reference exists into pypi
# odoo @ git+https://github.com/acsone/odoo.git@3be62e4183209db24233ee61459c7ae769d07788

# oca/puchase-workflow

odoo10-addon-purchase-order-approved @ git+https://github.com/acsone/purchase-workflow.git@10.0-purchase_order_approved_by_supplier-lmi#subdirectory=setup/purchase_order_approved

# oca/server-tools
git+https://github.com/acsone/server-tools@10.0-backport-slow_statement_logger-lmi#egg=odoo10_addon_slow_statement_logger&subdirectory=setup/slow_statement_logger

# oca/bank-payment

odoo10-addon-account-banking-mandate @ git+https://github.com/oca/bank-payment.git@refs/pull/727/head#subdirectory=setup/account_banking_mandate
