editables==0.3
hatch-odoo==0.1
hatchling==1.12.2
manifestoo_core==0.10.4
packaging==23.0
pathspec==0.10.3
pluggy==1.0.0
setuptools==59.6.0
setuptools-odoo==3.1.10
setuptools-scm==7.1.0
tomli==2.0.1
typing_extensions==4.4.0
