--find-links https://wheelhouse.acsone.eu/manylinux2014

# odoo
-r https://raw.githubusercontent.com/odoo/odoo/master/requirements.txt
odoo @ git+https://github.com/acsone/odoo.git@16.0-alc_master
odoo-addons-enterprise @ git+ssh://git@github.com/acsone/enterprise.git@16.0-alc_master

odoo16-addon-stock_available-to-promise-release @ git+https://github.com/oca/wms.git@refs/pull/478/head#subdirectory=setup/stock_available_to_promise_release