odoo-addon-product-packaging-dimension @ git+https://github.com/OCA/product-attribute@refs/pull/1386/head#subdirectory=setup/product_packaging_dimension
odoo-addon-stock-quant-package-dimension @ git+https://github.com/OCA/stock-logistics-workflow@refs/pull/1329/head#subdirectory=setup/stock_quant_package_dimension
