.stock_location_barcode_medoc_4x2 {
  .container_medoc {
    display: inline-block;
    width: 450px;
    height: 350px; // =1320/4
    justify-content: space-around;
    overflow: hidden;
  }

  .container_medoc:nth-child(odd) {
    margin-right: 50px;
    margin-left: 0;
  }
  .container_medoc:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }

  .barcode_name_medoc {
    position: relative !important; // relative position and size compared to the main container

    width: 100%;
    height: 35%; // size relative to the main container box
    margin-top: 120px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    z-index: 100;
    transform: scale(1, 3);
    -webkit-transform: scale(1, 3);
  }

  .barcode_medoc {
    position: fixed !important;
    padding-top: -22px;
    margin-left: -30px;
    float: left;
    width: 86%;
    height: 40%;
    z-index: 1;
  }
  .barcode_checksum_medoc {
    padding-top: 3px;
    text-align: center !important;
    align-items: center !important;
    position: relative !important;
    float: right;
    font-size: 48px;
    background-color: lightgray !important;
    border: 2px solid black;
    width: 20%;
    height: 22%; // =1320/4
    z-index: 10;
    justify-content: center !important;
  }

  .reserve {
    height: 350px; // =1170/4
  }
  .bin,
  .parking {
    height: 350px; // =1170/4 (no-margin paper)
  }

  .reserve .barcode_name_medoc {
    position: relative !important; // relative position and size compared to the main container
    width: 100%;
    height: 55%; // size relative to the main container box
    padding-top: 42px;
    margin-top: 100px;
    font-size: 50px;
    overflow: hidden;
  }

  .reserve .barcode_medoc {
    position: fixed !important;
    margin-top: -35px;
    margin-left: -30px;
    float: left;
    width: 86%;
    height: 50%;
  }

  .reserve .barcode_checksum_medoc {
    position: relative !important;
    margin-top: -37px;
    font-size: 45px;
    float: right;
    width: 18%;
    height: 22%;
  }

  .bin .barcode_name_medoc {
    position: relative !important; // relative position and size compared to the main container
    width: 100%;
    height: 35%; // size relative to the main container box
    padding-top: -100px;
    margin-top: 100px;
    font-size: 50px;
    overflow: hidden;
  }

  .bin .barcode_medoc {
    position: fixed !important;
    margin-top: -75px;
    margin-left: -30px;
    float: left;
    width: 86%;
    height: 50%;
  }

  .bin .barcode_checksum_medoc {
    position: relative !important;
    margin-top: -75px;
    font-size: 45px;
    float: right;
    width: 18%;
    height: 22%;
  }

  .parking .barcode_name_medoc {
    position: relative !important; // relative position and size compared to the main container
    width: 100%;
    height: 55%; // size relative to the main container box
    padding-top: 0px;
    margin-top: 150px;
    font-size: 80px;
    overflow: hidden;
  }

  .parking .barcode_medoc {
    position: fixed !important;
    margin-top: -75px;
    margin-left: -30px;
    float: left;
    width: 86%;
    height: 50%;
  }

  .parking .barcode_checksum_medoc {
    position: relative !important;
    margin-top: -75px;
    font-size: 45px;
    float: right;
    width: 18%;
    height: 22%;
  }
}
