.stock_location_barcode_4x2 {
    .barcode_label {
        display: inline-block;
        width: 450px;
        height: 460px; // =1320/4
        overflow: hidden;
    }
    .barcode_label {
        padding-left:15px;
    }
    .barcode_label:nth-child(odd) {
        margin-right: 50px;
        margin-left: 0;
    }
    .barcode_label:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }
    .reserve {
        height: 330px; // =1400/4
    }
    .bin, .parking {
        height: 330px; // =1400/4 (no-margin paper)
    }

    .barcode_name {
        font-size: 88px;
        font-weight: bold;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        transform: scale(1, 3);
        -webkit-transform: scale(1,3);
    }
    .reserve .barcode_name {
        margin-top: 78px;
    }
    .reserve img.barcode {
        margin: -4px 0 0 -85px;
    }
    div.barcode_checksum {
        text-align: center;
        width: 440px;
        height: 80px;
        overflow: hidden;
    }
    div.barcode_checksum > div {
        font-size: 48px;
        background: LightGray;
        color: black;
        padding: 0 10px;
        border: 1px solid;
        margin: 0 5px 0 -15px;
        float: right;
    }
    .reserve div.barcode_checksum {
        font-size: 48px;  // 4
        margin-top: 50px;
    }

}
