.stock_location_barcode_8x2 {

    .container {
        display:inline-block;
        width: 448px;
        height: 230px; // 8
        justify-content: space-around;
        overflow:hidden;
    }

    .container:nth-child(odd) {
        padding-left:15px;
        margin-right: 27px;
        margin-left: -5px;
    }
    .container:nth-child(even) {
        margin-left: 27px;
        margin-right: -5px;
    }


    .reserve {
        height: 175px; // =1400/8
    }
    .bin, .parking {
        height: 175px; // =1400/8 (no-margin paper)
    }

    .barcode_name {
        float: right;
        position: fixed!important; // relative position and size compared to the main container
        width: 45%;
        font-size: 55px;
        margin-top: 28px;
        margin-left: 60px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: 1;

    }
    .reserve .barcode_name {
        white-space: nowrap !important;
        margin-top: 28px;
        margin-left: 130px;
        width:30%;
    }

    .barcode {
        position: relative!important;
        margin-top:40px;
        float:left;
        width:35%;
        z-index: 1;
    }

    .reserve .barcode {
        position: relative!important;
        margin-top:40px;
        float:left;
        width:35%;
    }

    .barcode_checksum {
        position: fixed!important;
        float:right;
        font-size: 33px;
        overflow:hidden;
        z-index: 100;
    
    }
    .reserve .barcode_checksum {
        position: fixed!important;
        float:right;
        font-size: 33px;

    }
    div.barcode_checksum > div:first-child  {
        float: left;
        position: relative!important;
        padding-left:5px;
        background-color: black !important; 
        border: 1px solid black;
        color:white !important;
        margin-top: 110px;
        margin-left: 160px;
        width: 15%;
        height:100%; 
    }
    div.barcode_checksum > div:last-child  {
        float: right;
        position: relative!important;
        padding-left:5px;
        background-color: black !important; 
        border: 1px solid black;
        color:white !important;
        margin-top: -48px;
        margin-left: 140px;
        width: 15%;
        height: 100%; 
    }


}
