.stock_location_barcode_4x2 {
    .barcode_label {
        box-sizing: border-box;
        width: 47%;
        height: 25%;
        display: inline-block;
        overflow: hidden;
        padding-left:15px;
    }
    .barcode_label:nth-child(odd) {
        margin-right: 50px;
        margin-left: 0;
    }
    .barcode_label:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }
    .reserve {
        height: 330px; // =1170/4
    }
    .bin, .parking {
        height: 330px; // =1170/s (no-margin paper)
    }

    .barcode_name {
        margin-top: 78px;
        font-size: 88px;
        font-weight: bold;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        transform: scale(1, 3);
        -webkit-transform: scale(1,3);
    }
    .reserve .barcode_name {
        margin-top: 78px;
    }
    img.barcode {
        float: left;
        margin: -4px 0 0 -85px;
    }

    .reserve img.barcode {
        float: left;
        margin: -4px 0 0 -85px;
    }
    div.barcode_checksum {
        font-size: 48px;  // 4
        width: 95%;
        height: 80px;
        margin: 50px 5px 0 -15px;
        padding: 0 10px;
        overflow: visible;
        float: right;
    }
    div.barcode_checksum > div {
        font-size: 48px;
        background: LightGray;
        color: black;
        padding: 0 10px;
        border: 1px solid;
        margin: 0 5px 0 -15px;
        float: right;
        overflow: visible;
    }
    .reserve div.barcode_checksum {
        font-size: 48px;  // 4
        margin-top: 50px;
    }

}
