div.o_delivery_round_kanban.o_kanban_view {
  .btn-toggle-sound {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    margin-left: 3px;
  }

  .resize-progress-bar {
    width: 95%;
    vertical-align: middle;
    display: inline-block;
  }
  .orange-mic {
    color: #fea001 !important;
  }
}
