boto==2.42.0
redis==2.10.5
python-json-logger==0.1.5
statsd==3.2.1
unidecode==0.4.20

# fix pytest of docker-odoo-project-3.0.0
pluggy>=0.7

# connector
cachetools

# esb connector
dicttoxml
xmlunittest
Cryptography==1.9
paramiko==2.2.1
freezegun

# db2 odbc
pyodbc==3.0.10

iconv
cchardet

# stock_devlivery_note
unicodecsv

marabunta==0.9.0
