.zone {
    display: table;
}

.zone div {
    white-space: nowrap;
}
.corridor {
    display: table-row;
    text-align: center;
}
.corridor > div {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    background: lightgray;
}
.corridor > div > table {
    table-layout: fixed;
    width: 100%;
    background: white;
}
.zone .spacer {
    margin: 20px 0;
}
.height > td:first-child {
    width: 20px;
}
.height > td {
    width: 120px;
    padding: 1px;
    border-right: 2px solid;
    text-align: center;
}

.box {
    font-size: small;
    display: table-cell;
    border: 1px solid;
    text-align: center;
    height: 19px;
    min-width: 20px;
    width:1%;
}
