--find-links https://wheelhouse.acsone.eu/manylinux1
--find-links https://wheelhouse.acsone.eu/acsone-odoo


git+https://github.com/acsone/server-tools@10.0-backport-slow_statement_logger-lmi#egg=odoo10_addon_slow_statement_logger&subdirectory=setup/slow_statement_logger
