interactions:
  - request:
      body:
        '{"simulationName": "TST/00000045", "countryCode": "US", "beginDate":
        "2023-06-05", "language": "en_US", "depots": [{"x": 0.0, "y": 0.0, "id":
        "dep_1"}], "orders": [{"customerId": false, "fixedVisitDuration": "00:03:00",
        "id": 9, "label": "Wood Corner", "phone": "(623)-853-7197", "type": 0, "x": 0.0,
        "y": 0.0, "customDataMap": {"address": "Wood Corner\n1839 Arbor Way\n\nTurlock
        CA 95380\nUnited States"}, "timeWindows": [{"beginTime": "08:00", "endTime":
        "17:00"}]}, {"customerId": false, "fixedVisitDuration": "00:03:00", "id": 31,
        "label": "Gemini Furniture, Oscar Morgan", "phone": "(561)-239-1744", "type": 0,
        "x": 0.0, "y": 0.0, "customDataMap": {"address": "Gemini Furniture\n317
        Fairchild Dr\n\nFairfield CA 94535\nUnited States"}, "timeWindows":
        [{"beginTime": "08:00", "endTime": "17:00"}]}], "resources": [{"travelPenalty":
        0.0, "workPenalty": 0.0, "workStartTime": "13:50:00", "fixedLoadingDuration":
        "00:00:00", "mobileLogin": "d1@email.com", "openStart": false,
        "loadBeforeDeparture": true, "noReload": true, "globalCapacity": 9999,
        "useAllCapacities": false, "id": "D1", "startX": 0.0, "startY": 0.0, "endX":
        0.0, "endY": 0.0}, {"travelPenalty": 0.0, "workPenalty": 0.0, "workStartTime":
        "13:50:00", "fixedLoadingDuration": "00:00:00", "mobileLogin": "d2@email.com",
        "openStart": false, "loadBeforeDeparture": true, "noReload": true,
        "globalCapacity": 9999, "useAllCapacities": false, "id": "D2", "startX": 0.0,
        "startY": 0.0, "endX": 0.0, "endY": 0.0}], "options": {"maxOptimDuration":
        "00:00:00", "vehicleCode": "deliveryIntermediateVehicle",
        "useForbiddenTransitAreas": false}}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/optimize?tsCloudApiKey=fake_api_key
    response:
      body:
        string: ""
      headers:
      status:
        code: 403
        message: ""
  - request:
      body: null
      headers:
      method: GET
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/status?taskId=False&tsCloudApiKey=fake_api_key
    response:
      body:
        string: ""
      headers:
      status:
        code: 403
        message: ""
  - request:
      body: null
      headers:
      method: GET
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/toursResult?taskId=False&tsCloudApiKey=fake_api_key
    response:
      body:
        string: ""
      headers:
      status:
        code: 403
        message: ""
version: 1
